<div class="section margin-top_50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 layout_padding_2">
        <div class="full">
          <div class="heading_main text_align_left">
            <h2><span>Bienvenidos</span> </h2>
          </div>
          <div class="full">
            <p>Bienvenidos a este proyecto, un proyecto diseñado
              especialmente para mostrar un elemplo de logueo utilizando tokens,
              obteniendo el token de un ApiRest.
            </p>
          </div>
          <div class="full">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="full">
          <img src="../../assets/img5.jpg" width="50%" height="50%" />
        </div>
      </div>
    </div>
  </div>
</div>